@import url('https://fonts.googleapis.com/css2?family=Poppins&family=Roboto+Slab:wght@700&family=Roboto:ital,wght@1,500&display=swap');

  /* Navbar */
  .d-item{
    text-align: center;
  }
  .logo{
    width:3.5rem; 
    height: 3.5rem; 
    border-radius: 50%; 
    margin-right: 1rem;
  }
  .logo-name{
    font-family: 'Roboto Slab', serif;
    text-transform: uppercase;
    letter-spacing: .2rem;
  }
  .login-btn{
    font-family: 'Roboto Slab', serif;
    color: white;
    border-radius: 0.5rem;
    width: 5rem;
    font-size: 1rem;
    display: flex;
    align-items: center;
    justify-content: center;
    font-weight: 500;
    text-transform: uppercase;
  }
  .login-btn:hover{
    background: white;
  }
  .li-item{
    color: white !important;
    text-transform: uppercase;
    letter-spacing: .1rem;
  }
  .li-item:hover{
    color: black !important;
    text-transform: uppercase;
  }
  .n-item{
    font-family: 'Poppins', sans-serif;
    font-size: 1rem;
    /* padding: 0 0.3rem; */
    text-transform: uppercase;
  }
  .n-item:hover{
    background: rgb(239, 232, 232);
    border-radius: 0.5rem;
    /* padding: 0 0.3rem; */
    color: black;
  }
  .s-icon{
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100%;
    margin: 0rem 0.5rem;
  }
  .search-icon .btn{
    color: white;
  }
  .div-search-icon{
    display: flex;
    align-items: center;
    justify-content: center;
  }
   #search-menu {
    /* padding: 5px; */
    width: 30rem;
  }
  #search-menu input {
    width: 28rem;
  }
  .element3 .dropdown-toggle::after,
  .s-li-icon .dropdown-toggle::after {
    content: none;
  }
  .p-txt{
    font-size: 1.1rem;
    font-weight: bold;
  }
  .p-icon{
    font-size: 1.2rem;
  }
  .p-span{
    font-size: 1.2rem;
    font-weight: bold;
  }
  .centered-dropdown-menu li {
    line-height: 1;
  }
  .profile{
    display: flex;
    justify-content: space-between;
  }
  .d-flex.icon-txt {
    display: flex;
    align-items: center;
  }
  .reverse{
    display: flex;
    align-items: center;
    justify-content: center;
  }
  
  .navbar-nav {
    display: flex;
    align-items: center;
    justify-content: center;
  }

  /* Hide the alert after 20s */
  .auto-hide {
    animation: hideAlert 20s forwards;
  }

  @keyframes hideAlert {
    to {
        opacity: 0;
        display: none;
    }
  }

  /* Free up space after sollapse the alert*/
  .alert-container {
      position: relative;
      display: none;
  }

  .alert-container.show {
      display: block;
      margin-bottom: 20px;
  }

  /* Responsive Design */
  @media (max-width: 992px){
    .n-item:hover{
    background: none;
    color: whitesmoke; 
    }

    .li-item:hover{
    color: whitesmoke !important;
    }
    .reverse{
    margin: 1rem 0rem;
    }
    .dropdown-menu{
    width: 50%;
    align-items: center;
    background: rgb(225, 225, 225);
    }
    .d-item{
    text-align: center;
    }
    .element3{
    justify-content: center;
    flex-direction: column;
    }
    .login-btn{
    margin-top: 1rem;
    }
    .d-menu{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    }
    .centered-dropdown-menu {
      left: 50%;
      transform: translateX(-50%);
    }
  }

  /* ==================== Login Modal & Register Modal ====================*/
  form{
      padding: 2rem;
      /* width: 25rem; */
      border-radius: 1rem;
      background: white;
  }
  input.form-control:focus {
      box-shadow: none;
  }
  h2{
      text-align: center;
      margin-top: 1.5rem;
  }
  .input-box{
      position: relative;
      margin-top: 2.5rem;
      width: 100%;
      height: 2rem;
  }
  .input-box input{
      font-size: 1rem;
      height: 100%;
      width: 100%;
      border: none;
      outline: none;
      padding: 0 2rem;
      color: #333;
      transition: all 0.2s ease;
      border-bottom: 0.094rem solid #aaaaaa;
  }
  .input-box input:focus{
      border-color: rgb(174, 174, 245);
  }
  .input-box i{
      position: absolute;
      top: 50%;
      transform: translateY(-50%);
      font-size: 1.6rem;
  }
  .input-box i.email,
  .input-box i.password{
      left: 0px;
      color: #707070;
      font-size: 1rem;
  }
  .input-box input:focus ~ i.email,
  .input-box input:focus ~ i.password{
      color: rgb(174, 174, 245);
  }
  .input-box i.pwd_hide{
      right: 0;
      font-size: 1.5rem;
  }
  .option-field{
      display: flex;
      align-items: center;
      justify-content: space-between;
      margin-top: 1rem;
  }
  .checkbox{
      display: flex;
      column-gap: 0.75rem;
      white-space: nowrap;
      font-size: 1rem;
  }

  .checkbox input{
      accent-color: rgb(174, 174, 245);
  }
  .checkbox label{
      user-select: none;
      font-size: 1rem;
      color: #0b0217;
      cursor: pointer;
  }
  .button{
      background: rgb(174, 174, 245);
      margin-top: 1.5rem;
      width: 100%;
      /* padding: 0.6rem 0; */
      padding: 0.3rem 0;
      border-radius: 1rem;
      font-size: 1.5rem;
      font-weight: 500;
  }
  .login-signup{
      font-size: 1rem;
      text-align: center;
      margin-top: 0.94rem;
  }
  .forgot_pass{
      color: rgb(174, 174, 245);
      text-decoration: none;
      font-size: 0.8rem;
      font-style: italic;
  }
  .forgot_pass:hover{
      text-decoration: underline;
  }
  .signup-txt{
      font-size:1rem;
      text-decoration: none;
      color: rgb(174, 174, 245);
  }
  .signup-txt:hover{
      text-decoration: underline;
  }
  .modal-close-btn {
    position: absolute;
    top: 0;
    right: 0;
    background-color: transparent;
    border: none;
    font-size:2rem;
    margin-right:2rem;
    margin-top:1.5rem;
  }
  .modal-body {
    position: relative;
  }
  .modal-close-btn:focus,
  .modal-close-btn:active {
    outline: none;
  }